 /*.messageJust1line{
    text-align: justify;
    line-height: 1.6em;
    height: calc(1.6em*2.6);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
 
   
}
/* .titleJust1line{
    text-align: justify;
    line-height: 1.6em;
    height: calc(1.6em*2.6);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
} */ 
.contactTable{
    width: 100%;
}
.pName p{
    width: 160px;
    overflow: hidden;
    text-overflow:ellipsis;
 
    word-wrap: normal;
    white-space: nowrap;
}

.messageJust1line p{
    width: 400px;
    overflow: hidden;
    text-overflow:ellipsis;
 
    word-wrap: normal;
    white-space: nowrap;
    
}

.titleJust1line p{
    width: 200px;
    overflow: hidden;
    text-overflow:ellipsis;
 
    word-wrap: normal;
    white-space: nowrap;
}

.pEmail p{
    width: 150px;
    overflow: hidden;
    text-overflow:ellipsis;
 
    word-wrap: normal;
    white-space: nowrap;
}